<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">
	<p>Hello, {{name}}!</p>
  <ul>
    <li ng-repeat="phone in phones">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul>
  <p>Total number of phones: {{phones.length}}</p>

	<table>
		<tr ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
			<td style = "padding:7px;text-align:center;" ng-repeat="j in [1,2,3,4,5,6,7,8,9]">{{i*j}}</td>
		</tr>
	</table>
	
</body>
</html>
